# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/activity_tracker

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=activity-tracker-service
KAFKA_GROUP_ID=activity-log-processors
KAFKA_TOPIC=user-activity-logs
